$font-stack:    Helvetica, sans-serif;

.centered {
	margin-left:auto;
	margin-right:auto;
}

.navbar {
	@extend .centered;
	width: 80%;
    background-color: rosybrown;


}

.navbar-nav{
    	li{
    		    color: antiquewhite;
    	}
    }