<!DOCTYPE HTML>
<html>
<head>
<title>Featr</title>


 <% include ../partials/header %>
</head>
<body>

 <% include ../partials/nav %>
 <div id="main">
	<p>Help you need help?</p>
</div>


</body>
</html>